<!DOCTYPE html>
<html lang="en-En">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>JSON Verification</title>
</head>
<body>
    <div class="container">
        <div class="header-container">
            <h1>JSON Verification</h1>
        </div>
        <div class="form-container">
            <form method="post" action="/" enctype="multipart/form-data">
                {% if json_data is not none %}
                    <textarea name="json_text" rows="20" cols="50">{{ json_data }}</textarea><br>
                {% else %}
                <textarea name="json_text" rows="20" cols="50"></textarea><br>
                {% endif %}
                <input type="file" name="json_file" accept=".json"><br>
                <button type="submit">Verify</button>
            </form>
            {% if result is not none %}
                {% if result %}
                    <p style="color: green;">Input JSON is valid.</p>
                {% else %}
                    <p style="color: red;">Input JSON is not valid.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</body>
</html>
